language: python

python:
  - "3.6"

before_install:
  - sudo apt-get update -qq
  - sudo apt-get install blender

install:
  - mkdir tmp && cd tmp

  - wget http://mirror.cs.umn.edu/blender.org/release/Blender2.79/blender-2.79-linux-glibc219-x86_64.tar.bz2
  - tar jxf blender-2.79-linux-glibc219-x86_64.tar.bz2
  - mv blender-2.79-linux-glibc219-x86_64 blender
  - rm blender-2.79-linux-glibc219-x86_64.tar.bz2

  - cd ..
  - #sudo ln -s ${PWD}/addon ${PWD}/tmp/blender/2.79/scripts/addons/hypermesh

script: python run_tests.py ./tmp/blender/blender

