---
# front matter to ensure Jekyll properly processes file
---

body, html {
	font-family: 'Open Sans', sans-serif;
	//font-size: 6pt;
}

body, html {
	max-width: 960px;
	margin: auto;
	position: relative;
}

ul.menu {
	text-align: center;
	margin: 1em 0;
	padding: 0;
}
li.menuitem {
	box-sizing: border-box;
	padding: 0;
	margin: 0 1em;
	list-style-type: none;
	display: inline-block;
}

h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, p, li {
	padding-left: 0.2em;
	padding-right: 0.2em;
}

pre {
	background-color: #f6f6f6;
	border-radius: 3px;
	padding: 9px;
}

code {
	background-color: #f6f6f6;
	border-radius: 3px;
	padding: 3px;
}

pre code {
    border-radius: 0px;
    padding: 0px;
}

div.figure {
	text-align: center;
}
span.caption {
	font-style: italic;
}
img {
	max-width: 100%;
}

